body {
    background-color: lightblue;
    font-family: 'Raleway',sans-serif;
  }
  nav {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    height: 50 px;
    z-index: 1;
    width: 100vw;
  }
  nav ul li {
    float: right;
    margin-right: 50 px;
    list-style-type: none;
    text-align: center;
  }
  #brand {
    float: left;
  }
   .nav-link {
      color: darkred;
      text-decoration: none;
      font-family: 'Acme', sans-serif;
   }
  .nav-link: hover{
    color: lightblue;
    font-weighr: bold;
  }
  #brand .nav-link {
    color: lightblue;
    font-size: 18pt;
  }
  #brand .nav-link:hover {
    color: darkred;
  }
  h1{
    font-size: 60pt;
    }
  #home{
    margin-top: 50px;
    position: relative;
    left: -8px;
    width: 100vw;
    height: 30vh;
    padding-top: 3em;
    background: url("https://images.unsplash.com/photo-1566664183497-b513f376e91a?ixlib=rb-1.2.1&auto=format&fit=crop&w=3021&q=80") center 75% no-repeat fixed;
    background-size: cover;
  }
  .header-tag {
    text-align: center;
    color: darkred;
    text-shadow: 2px 2px 2px black;
  }
  h3.header-tag {
    margin-top: -30px;
    font-size: 18pt;
  }
  
  
  h2 {
    font-family: 'Acme',sans-serif;
    color: darkred;
  }
  .main {
    text-align: center;
  }
  #about {
    margin-top: 50px;
    display: inline-block
  }
  #about-picture {
    width: 30vw;
    float: left;
  }
  #profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black;
  }
  #about-content {
    width: 40vw;
    float: right;
  }